.pull-left {float: left;}
.pull-right {float: right;}
.gist {
  position: relative;
  overflow-x: hidden;
  background: #232323;
  border-radius: 2px;
  margin: 20px;
}
.gist-body {overflow-x: scroll;}
.gist-footer {
  background-color: #2ecc71;
  padding: 10px;
  letter-spacing: 0px;
  word-spacing: -2px;
}
.gist-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
}
.gist-footer a.hosted {padding: 3px 10px;}
.gist-footer a.hosted .fa-heart {color: #c0392b;}
.gist-footer .meta a {vertical-align:bottom;}
.gist-footer .meta a img {
  margin-left: 3px;
  margin-right: 10px;
  border-radius: 50px;
}
.gist-footer .meta .gist-title {
  padding: 3px 0px;
  display: inline-block;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 15px 0;
  font-size: 12px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  font-family: monospace;
  color: #ffffff !important;
}

/* CodeRay syntax highlighting */
.CodeRay {margin: 0px;padding: 0px;}
.gist .gist-body .CodeRay tbody tr td.code pre {color: #ffffff !important;}
.gist-default .line-numbers {margin: -2px 0px -2px -2px;display: inline-table;}
.CodeRay .line-numbers pre a {text-decoration: none;color: #fff;}

/* JustWatch default theme */
.gist-default {background-color: #fff;border: none !important;}
.gist-default .line-numbers {background-color: #EBEBEB;}
.gist-default .line-numbers pre a {color: #888888;}
.gist-default .gist-footer {background-color: #7694AA;}


/* CodeRay syntax highlighting predefined */
.CodeRay .symbol { color: #a385fc; }
.CodeRay .color { color: #a385fc; }
.CodeRay .class { color: #a7e040; }
.CodeRay .key { color: #6bd9ed; }
.CodeRay .value { color: #6bd9ed;}
.CodeRay .inline-delimiter { color: #f62d73; }
.CodeRay .type { color: #F62D73;}
.CodeRay .float { color: #a385fc; }
.CodeRay .string { color: #e5da7a; }
.CodeRay .comment { color: #75715f; }
.CodeRay .keyword { color: #f62d73; }
.CodeRay .entity { color: #f62d73; }
.CodeRay .predefined-constant { color: #a7e040; }
.CodeRay .function { color: #a7e040; }
.CodeRay .constant { color: #6bd9ed;}
.CodeRay .regexp .inline-delimiter { color: #e5da7a; }
.CodeRay .regexp .char { color: #a385fc; }
.CodeRay .regexp .delimiter { color: #e5da7a; }
.CodeRay .regexp .content { color: #e5da7a; }
.CodeRay .regexp .inline { color: #e5da7a; }
.CodeRay .regexp .inline .delimiter { color: #e5da7a; }
.CodeRay .regexp .inline .constant { color: #6bd9ed; }
.CodeRay .regexp .modifier { color: #e5da7a; }