 <footer class="footer text-center">
  Made with <i class="fa fa-heart" style="color: #c0392b;"></i> 
  at <a href="http://flatironschool.com/">The Flatiron School.</a></br>
  By <a href="http://georgielovesoup.tumblr.com/">George Taveras</a>&nbsp;&middot;&nbsp;<a href="http://natachaspringer.com/">Natacha Springer</a>  &nbsp;&middot;&nbsp;<a href="http://twitter.com/rebeccapoulson/">Rebecca Poulson</a>&nbsp;&middot;&nbsp;<a href="http://twitter.com/sharnieivery">Sharnie Ivery</a>
</footer>