<div class="gist  gist-default">
  <div class="gist-body">
    <div class="gist-canvas">
      <%= image_tag(gist.visual.url, class: 'jw_image') %>
    </div>
    <%= coderay(gist.content, gist.language).html_safe %>
  </div>

  <div class="gist-footer">
    <span class="meta">
      <a href="#">
        <img src="http://www.gravatar.com/avatar.php?gravatar_id=9ef9c75cce358fd9fcf6d3623c959373?size=25" alt="" class="pull-left" />
        <span class="gist-title"><%= gist.name %></span>
      </a>
    </span>
    <a href="#" class="hosted pull-right">hosted with <span class="fa fa-heart"></span> by jw</a>
  </div>
</div>