<div id='gist_content'>
  <%= form_for(gist) do |f| %>
    <div id="editor" class='back'></div>
    <%= f.text_area :content %>
    <%= image_tag(gist.visual.url, class: 'gist-visual-image front') %>
  <% end %>
</div>