<div class= "index_container">
<div class= "index_title">
<h1>My Projects</h1>
</div>
<ul> 
<% current_user.gists.each do |gist| %>
  <li>
    <%= render 'gists/gist_display', gist: gist %>
  </li>
  <br>
  <br>  
<% end %>
</ul>
</div>