<div class= "index_container">
  <div class= "index_title">
    <span class="headline">
      <h1>MY PROJECTS</h1>
    </span>
  </div>
  <div class= "index_list">
    <ul> 
      <% current_user.gists.each do |gist| %>
        <li>
          <%= render 'gists/gist_display', gist: gist %>
          <%= button_to "Delete", gist, method: :delete %>
        </li>
        <div class= "line"><hr /></div>
        <br />  
      <% end %>
    </ul>
  </body>
  </div>
</div>