<% has_page_specific_js! %>

<div class="index_container">
  <div class="index_title">
    <span class="headline">
      <h1>MY PROJECTS</h1>
    </span>
  </div>
  <div class= "index_list">
    <ul> 
      <% current_or_guest_user.gists.each do |gist| %>
        <li>
          <%= render 'gists/gist_display', gist: gist %>
          <div class="btn-group" role= "toolbar">

            <button type="button" class="btn btn-group btn-default" id="copytoclipboard-button-<%= gist.id %>" data-clipboard-text="<script src='<%=embed_link_url(gist.user, gist)%>.js'></script>">
             <span class="fa fa-clipboard"></span>
            </button>
            <%= link_to gist_path(gist), method: :delete, class: "btn btn-default" do %>
              <span class="fa fa-trash-o"></span>
            <% end %>
          </div><!-- .btn-group -->
        </li>
       <div class="line"><hr /></div><br>
      <% end %>
    </ul>
  </div><!-- .index_list -->
</div>

