<div class= "index_container">
  <div class= "index_title">
    <span class="headline">
      <h1>My Projects</h1>
    </span>
  </div>
  <div class= "index_list">
    <ul> 
      <% current_user.gists.each do |gist| %>
        <li>
          <%= render 'gists/gist_display', gist: gist %>
        <div class="btn-group" role= "toolbar">
          <button class="btn btn-default" id="copytoclipboard-button btn-group" data-clipboard-text="<script src='<%=embed_link_url(gist.user, gist)%>.js'></script>" class="btn-group">
           <span class="fa fa-clipboard"></span>
          </button>
          <%= button_to gist, {method: :delete, class: "btn btn-default"}  do %> 
            <i class="fa fa-trash-o"></i>
          <%end%>         
        </div>
      </li>
        <div class= "line"><hr /></div>
        <br>  
      <% end %>
    </ul>
  </div>
</div>