<div class="row">
  <div class="col-xs-12 col-sm-10">
    <%= render 'gists/form/form', gist: @gist %>
  </div>

  <div class="col-xs-12 col-sm-2" id="canvas-tools">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title text-center">TOOLS</div>
        </div>  
        <div class="panel-body">
          <input id="background-color" type="color" value="#ff00ff" />
          <button class="btn btn-default btn-canvas-tool" data-tool="pencil">
            <i class="fa fa-dashboard"></i>
          </button>

          <button class="btn btn-default btn-canvas-tool" data-tool="pencil">
            <i class="fa fa-pencil"></i>
          </button>

          <button href="#" class="btn btn-default btn-canvas-tool" data-tool="filledBox">
            <i class="fa fa-square"></i>
          </a>

          <button href="#" class="btn btn-default btn-canvas-tool" data-tool="emptyBox">
            <i class="fa fa-square-o"></i>
          </a>

          <button href="#" class="btn btn-default btn-canvas-tool" data-tool="eraser">
            <i class="fa fa-eraser"></i>
          </a>

          <button href="#" class="btn btn-default btn-canvas-tool" data-tool="line">
            <i class="fa fa-minus"></i>
          </a>

          <button href="#" class="btn btn-default btn-canvas-tool" data-tool="line">
            <i class="fa fa-expand"></i>
          </a>
        </div>
     </div> 
  </div>
</div>

