<div class="row">
  <div class="col-xs-12 col-sm-10">
    <%= render 'gists/form/form', gist: @gist %>
  </div>

  <div class="col-xs-12 col-sm-2" id="canvas-tools">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title text-center">TOOLS</div>
        </div>
        <div class="panel-body">
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
          <a href="#" class="btn btn-default btn-canvas-tool">
            <span class="glyphicon glyphicon-stop"></span>
          </a>
        </div>
     </div> 
  </div>
</div>