
<%= render 'gists/gist_display.html.erb', gist: @gist %>

<p>Embed your project into your site:</p>

<div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <%= text_field_tag 'Embed URL', "<script src='#{embed_link_url(@gist.user, @gist)}'></script>", disabled: true, size:50, class: "form-control" %> 
      <span class="input-group-btn">
        <button id="copytoclipboard-button" data-clipboard-text="<script src='<%=embed_link_url(@gist.user, @gist)%>.js'></script>" class="btn btn-default" type="button">
          <span class="fa fa-clipboard"></span>
        </button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

