<!--logo start-->
<div class="brand">
  <%= link_to root_path, class:"logo" do %>
    <%= image_tag "prettycode_2.svg" %>  
    <span id="brand-name-logo">Pretty Code</span> 
  <% end %>
</div>
<!--logo end-->