<!--logo start-->
<div class="brand">
  <%= link_to root_path, class: 'logo' do %>
    <%= image_tag "prettycode_2.svg" %>  
  <% end %>
</br>
   <span class="brand_name">Pretty Code</h3> 
</div>
<!--logo end-->