<!-- <li><%= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github) %></li> -->

<!-- user login dropdown start-->
<li class="dropdown">
    <div href="#" class="btn btn-info" id="sign-in-button" data-toggle="dropdown" class="dropdown-toggle">
        <div class="fa fa-sign-out"></div> Sign In
        <b class="caret"></b>
    </div>
    <ul class="dropdown-menu extended logout">
        <li>
          <%= link_to new_user_session_path do %>
            <i class=" fa fa-key"></i> Login
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa fa-user"></i> Sign up
          <% end %>
        </li>
    </ul>
</li>
<!-- user login dropdown end -->