<%= form_for(gist) do |gist_f| %>

  <div class="panel panel-default gist-new">
    <%= render 'gists/form/panel_heading', builder: gist_f %>
    <%= render 'gists/form/panel_body', builder: gist_f %>
    <%= render 'gists/form/panel_footer', builder: gist_f %>
  </div>

<% end %>