<div class="panel-heading">
  <div class="panel-title">
      <div class="row row-10-gutter ">
        <div class="col-xs-3 col-3-gutter">
          <%= builder.text_field :name, class: "form-control", placeholder: "Name this project..." %>
        </div>

        <div class="col-xs-3 col-3-gutter">
          <%= builder.collection_select :language, supported_languages, :to_s, :to_s, {include_blank: false, prompt: "Language"}, {class: "form-control"} %>
        </div>

        <div class="col-xs-3 col-3-gutter">
          <div class='gist-preview'>
            <div class='prev-content'>
              no preview
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
