<div class="panel-body">

  <div id="gist_canvas">

    <div id="editor" class='back'></div>
    
    <%= builder.text_area :content, class: "back" %>


    <%= content_tag(:div, class: "form-group") do %>
      <%= builder.fields_for(:visual_attributes, @gist.visual) do |visual_f| %>

        <canvas id='main-canvas' class='front' width="660px" height='298px' >
        </canvas>

        <%= visual_f.hidden_field :url %>
      <% end %>
    <% end %>
    
  </div>

</div>