<div class="panel-footer">
  <a href="#" class="pull-right btn btn-default" id="switch_gist_canvas">
    <span class="glyphicon glyphicon-plus"></span> draw
  </a>

  <%= builder.submit "save", class: "btn btn-default", id: "save" %>
</div>