.index_container {
 background-color: #f3f3f3;
 border-radius: 40px;
}

.index_title {
  font-family: 'Helvetica';
  font-weight: 400;
  margin-left: 10%;
  color: rgba(105, 118, 128, .9);
}

.headline {
  font-family: 'Helvetica';
  font-weight: 400;
  margin: 10%
}

.index_gist {
 padding: 0;
 margin: 15%
}

.line {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.60), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.60), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.60), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.60), rgba(0,0,0,0));
}

.index_list ul {
  padding: 0px 10%;
}

